label.text-danger {
  margin-top: 5px;
}

input.text-danger, textarea.text-danger,select.text-danger { 
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #F8B9B7;
  box-shadow: 0 0 6px #F8B9B7;
}
.form-inline label.text-danger{
  margin-left: 10px;
}